@import './theme.scss';

section#notfound {
    // height: calc(100% - ($header_height + 80px));
    height: calc(100% - 140px);
    div.wrapper {
        height: 100%;
        align-items: center;
        justify-content: center;
        h1 {
            font-size: 90px;
            color: $primary;
        }
    }
}