<div class="box categories">
    <h3 class="title">Categories</h3>
    <ul class="categories">
        <li class="category"><a href="">
            linux <span>42</span>
        </a></li>
        <li class="category"><a href="">
            IDE <span>42</span>
        </a></li>
        <li class="category"><a href="">
            KDE <span>10</span>
        </a></li>
        <li class="category"><a href="">
            tech <span>89</span>
        </a></li>
        <li class="category"><a href="">
            travel <span>2</span>
        </a></li>
    </ul>
</div>