<div class="box p-tags">
    <h3 class="title">Popular tags</h3>
    <ul class="p_tags">
        <li class="tag"><a href="" class="js">#javascript</a></li>
        <li class="tag"><a href="" class="py">#python</a></li>
        <li class="tag"><a href="" class="js">#linux</a></li>
        <li class="tag"><a href="" class="cpp">#c++</a></li>
        <li class="tag"><a href="" class="react">#react</a></li>
        <li class="tag"><a href="" class="tech">#tech</a></li>
        <li class="tag"><a href="" class="kde">#KDE</a></li>
        <li class="tag"><a href="" class="gnome">#GNOME</a></li>
    </ul>
</div>